* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}

:root {
    font-size: 32px;
    --nav: #253D42;
    --lightBG:#A7BDC2;
    --bright:#2A9DA9;
    --dark:#516165;
    --bigDark:#394142;
    --background:#7B8B8F;
}

nav, 
nav * {
    background-color: var(--nav);
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav section {
    width: 50%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    position: relative;
    padding: 2%;

}

nav a {
    display: block;
}

.name {
    padding: 1%;
}

.subNav li {
    display: block;
    margin: 2px 0px;
}
.subNav {
    position: absolute;
    z-index: 100;
    display: none;
}

li:hover .subNav{
    display: block;
}

.navlist > li {
    width: 25%;
}

a {
    text-decoration: none;
}

.homeOpening {
    height: 100vh;
    width: 100%;
}
.homeProjects {
    background-color: (--dark);
    width: 100%;
    height: 100vh;
}

.lightBG {
    background-color: var(--lightBG);
}

footer {
    display: flex;
    justify-content: space-around;

footer section {
    width: 33%
    background-color: var(--nav);

}