* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100%;
    min-height: 90vh;
    background-color: var(--background);
}

:root {
    font-size: 32px;
    --nav: #253D42;
    --lightBG:#A7BDC2;
    --bright:#2A9DA9;
    --dark:#516165;
    --bigDark:#394142;
    --background:#7B8B8F;
}

nav, 
nav * {
    background-color: var(--nav);
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav section {
    width: 50%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    position: relative;
    padding: 2%;

}

nav a {
    display: block;
}

.name {
    padding: 1%;
}

.subNav li {
    display: block;
    margin: 2px 0px;
}
.subNav {
    position: absolute;
    z-index: 100;
    display: none;
}

li:hover .subNav{
    display: block;
}

.navlist > li {
    width: 25%;
}

a {
    text-decoration: none;
}

.homeOpening,
.aboutOpening {
    height: 100vh;
    width: 100%;
}
.homeProjects {
    background-color: var(--dark);
    width: 100%;
    height: 100vh;
}

.lightBG {
    background-color: var(--lightBG);
}
.darkBG {
    background-color: var(--dark);
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--nav);
}

footer section {
    width: 33%;
    background-color: var(--nav);

}

.aboutOpening {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.aboutJumpWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}


.aboutJump {
    width: 20%;
    height: 400px;
    background-color: var(--lightBG);

}

.awards,
.hobbies,
.future {
    height: 100vh;
    position: relative;
}

.awardCard {
    aspect-ratio: 1 ;
    background-color: var(--lightBG);
    height: 100px;
    border: 1px solid green;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

}

.awards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.mainAwards {
    aspect-ratio: 1 ;
    background-color: var(--lightBG);
    height: 300px;
    
}

/* .mainAwards:hover .awardCard {
    transform: translate(-50%, -50%);

} */